body{
    background-color: #f4f4f4;
}
.judul-produk{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    max-width: 100%;
    max-height: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.harga-produk{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400; 
}
.btn1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 90px;
    height: 30px;
    background-color: #101010;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn1:hover{
    background: white;
    color: black;
    border: 1px solid;
}
